$theme-colors: (
    "dark": #4a4eab,
    "light": #d65292
);

// Import Bootstrap after setting the theme colors
@import "~bootstrap/scss/bootstrap";


* {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(74, 78, 171),
}

.readme {
  margin-top: 30px;
  margin-bottom: 60px;
}

header {
    margin-bottom: 30px;
}

.button-link {
  text-decoration: none;
};

.brand-link {
  color: white !important;

  &:hover {
    color: rgba(255, 255, 255, 0.848) !important;
  }
}

.sign-in-display {
  display: flex;
  align-items: center;
}

.display-name {
  margin-bottom: 0;
  margin-right: 8px;
  color: white;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This makes the container take up the full height of the viewport */
}

.custom-spinner {
  width: 3rem;
  height: 3rem;
}
